@use '../abstracts/' as abs;

.buy {
    &__logo {
        margin-inline: auto;
        width: 80px;
        margin-block-end: 2rem;
    }

    &__steps {
        margin-block-start: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include abs.for-desktop-up {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
}