@use '../abstracts/' as abs;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: abs.$header-bg;
    z-index: 1000;

    &__content {
        height: abs.$header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include abs.for-desktop-up {
            &>* {
                flex: 1;
            }
        }
    }


    &__cta {
        font-weight: 600;
        font-size: 1.2rem;
        display: block;
        max-width: 150px;
        text-align: center;
        margin-inline-start: auto;
    }
}