@use '../abstracts/' as abs;

.hero {
    @include abs.for-tablet-up {
        background: url('../assets/img/hero/banner-desktop.svg') no-repeat 50% 0 / cover;
        min-height: 135vh;
    }

    @include abs.for-desktop-up {
        min-height: abs.toRem(1500);
    }

    &__content {
        padding-block-start: abs.$header-height;
        max-width: 500px;
        margin-inline: auto;

        &-img {
            width: 80%;
            max-width: 30rem;
            margin-inline: auto;
            margin-block-end: 1.5rem;
        }
    }

    &__sm {
        margin-block-end: 2rem;
    }

    &__box {
        border: 3px solid black;
        border-radius: .8rem;
        text-align: center;

        &>div {
            padding: 2rem;
        }
    }

    &__upper {
        background-color: abs.$primary-bg;
        color: abs.$primary-font-color;
    }

    &__title {
        font-size: 1.25rem;
    }

    &__subtitle {
        overflow-wrap: break-word;
        font-size: 1.1rem;
    }

    &__click-here {
        display: block;
        color: abs.$secondary-font-color;

        &:visited {
            color: inherit;
        }
    }

    &__img {
        margin-block-start: .5rem;

        @include abs.for-tablet-up {
            display: none;
        }


        img {
            width: 100%;
        }
    }
}