@use '../abstracts/' as abs;

.btn {
    outline: none;
    border: none;
    border-radius: 2rem;
    display: inline-block;
    padding: .75rem 1rem;
    text-decoration: none;
    font-size: abs.toRem(14);
    font-weight: 600;
    line-height: 1;
    box-shadow: 4px 4px abs.$shadow-color;
    transition: filter 250ms ease-in-out;

    &:hover {
        filter: invert(1);
    }

    &--xl {
        font-size: 1rem;
        padding: .75rem 2.5rem;
    }

    &--primary {
        background-color: abs.$primary-bg;
        color: abs.$primary-font-color;
    }

    &--block {
        display: block;
    }
}