@use '../abstracts/' as abs;

.bubble {
    display: block;
    padding: 1rem;
    max-width: abs.toRem(300);
    min-height: abs.toRem(250);
    background: url("../assets/img/icons/bubble1.svg") 0 0 / contain no-repeat;
    position: relative;

    &--reverse {
        background: url("../assets/img/icons/bubble2.svg") 0 0 / contain no-repeat;

        &>.bubble__avatar {
            margin-inline-start: -2rem;
            // margin-inline-end: auto; 
        }
    }

    &--reverse-desktop {
        background: url("../assets/img/icons/bubble2.svg") 0 0 / contain no-repeat;

        &>.bubble__avatar {
            display: block;
            margin-inline-start: 0;
            transform: rotateY(180deg);
        }
    }

    &__num {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        font-family: abs.$font-secondary;
    }

    &__avatar {
        margin-inline-start: auto;
        margin-block-start: 3rem;
    }
}