@use '../abstracts/' as abs;

.hide {
    &--mobile {
        @media screen and (max-width: abs.$screen-md-max) {
            display: none;
        }
    }

    &--desktop {
        @include abs.for-desktop-up {
            display: none !important;
        }
    }
}

.container {
    padding-inline: abs.$page-padding;
    max-width: abs.$max-width;
    margin-inline: auto;
}

.section {
    padding-block: 2rem;
    text-align: center;
}

.flow>*+* {
    margin-block-start: 1rem;
}

.line {
    max-width: abs.toRem(300);
    height: 1px;
    margin-inline: auto;
    background-color: abs.$secondary-bg;
}

.text {
    &-center {
        text-align: center;
    }

    &-upper {
        text-transform: uppercase;
    }
}

.title {
    font-size: abs.toRem(35);
    font-family: abs.$font-secondary;
    margin-block-end: .7em;
    text-transform: uppercase;
    line-height: 1.2;

    @include abs.for-tablet-up {
        font-size: abs.toRem(48);
    }


    &--sm {
        font-size: abs.toRem(40);

        @include abs.for-tablet-up {
            font-size: abs.toRem(25)
        }
    }
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    max-width: abs.toRem(800);
    margin-inline: auto;

    @include abs.for-desktop-up {}
}

.shadow {
    box-shadow: 8px 9px abs.$shadow-color;
}

.border {
    border: 2px solid #000;
}

.img-center {
    &>img {
        margin-inline: auto;
    }
}