@use '../abstracts/' as abs;

.container {
    padding-inline: abs.$page-padding;
    max-width: abs.$max-width;
    margin-inline: auto;
    overflow: hidden;
}

.section {
    padding-block: 3rem;
}

.flow>*+* {
    margin-block-start: 1rem;
}

.text {
    &-center {
        text-align: center;
    }

    &-upper {
        text-transform: uppercase;
    }
}

.title {
    font-size: abs.toRem(35);
    font-family: abs.$font-secondary;
    margin-block-end: .7em;
    text-transform: uppercase;
    line-height: 1.2;

    @include abs.for-tablet-up {
        font-size: abs.toRem(48);
    }


    &--sm {
        font-size: abs.toRem(40);

        @include abs.for-tablet-up {
            font-size: abs.toRem(25)
        }
    }
}

.subtitle {
    font-size: 1.1rem;
    max-width: abs.toRem(800);
    margin-inline: auto;
}